@model HRWebLayer.Models.HRModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HR</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HRName" class="control-label"></label>
                <input asp-for="HRName" class="form-control" />
                <span asp-validation-for="HRName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HRYOE" class="control-label"></label>
                <input asp-for="HRYOE" class="form-control" />
                <span asp-validation-for="HRYOE" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Orgname" class="control-label"></label>
                <input asp-for="Orgname" class="form-control" />
                <span asp-validation-for="Orgname" class="text-danger"></span>
            </div>
             <div class="form-group">
				<label asp-for="OrgPhoto" class="control-label"></label>
				<input type="file" name="image1" id="image1" class="form-control" style="width:100%" />
				<span asp-validation-for="OrgPhoto" class="text-danger"></span>
			</div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
