@model HRWebLayer.Models.JobsModel

@{
    ViewData["Title"] = "CreateJobs";
}

@if (ViewBag.IsHrRegistered == true)
{
    <h1>CreateJobs</h1>

    <h4>JobsModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateJobs">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="JobsName" class="control-label"></label>
                    <input asp-for="JobsName" class="form-control" />
                    <span asp-validation-for="JobsName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobsSkill" class="control-label"></label>
                    <input asp-for="JobsSkill" class="form-control" />
                    <span asp-validation-for="JobsSkill" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobsPackage" class="control-label"></label>
                    <input asp-for="JobsPackage" class="form-control" />
                    <span asp-validation-for="JobsPackage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobsDescription" class="control-label"></label>
                    <input asp-for="JobsDescription" class="form-control" />
                    <span asp-validation-for="JobsDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <h1>Please fill your details first to post jobs</h1>
    <a asp-controller = "HR" asp-action="Create" >Fill My Details!</a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
