

@model CandidateWebLayer.Models.Login


<style>
    body {
	background-color:gray;
}
.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
</style>

<section class="h-100 gradient-form" style="background-color:gray;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="~/images/logo.png"
                    style="width: 185px;" alt="logo">
                </div>

                <form asp-action="LoginUser">
                <div class="form-group">
                      <label class="form-label" asp-for="Username">Email Address</label>
                      <input type="text" asp-for="Username" class="form-control" />
                      <span asp-validation-for="Username" class="text-danger"></span>
                
                      <label class="form-label" asp-for="Password">Password</label>
                      <input type="password" asp-for="Password" class="form-control" />
                      <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Shaping a happy career is a priority for all budding professionals. However, the stakes to get there never seemed to be this high.
                    though undeniable that countless job portals claim to be the best when it comes to providing the right careers, but we dont just claim, we do it. So Try us!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
